.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: fit-content;
    padding: 10px;
    border-radius: 8px;
}
.content{
    display: flex;
    justify-content: start;
    gap:20px
}
.detail{
    display: flex;
    flex: 1;
    padding: 10px 5px;
}
button{
    width: 100%;
}