<div class="card">
    <div class="content">
        <div class="detail">Name</div>
        <div class="detail">Anurag</div>
    </div>
    <div class="content">
        <div  class="detail">Age</div>
        <div  class="detail">21</div>
    </div>
    <div class="content">
        <div  class="detail">Mobile</div>
        <div  class="detail">1234567890</div>
    </div>
    <div class="content">
        <div class="detail">Department</div>
        <div  class="detail">IT</div>
    </div>
    <div class="content">
        <div class="detail">
            <button>Delete</button>
        </div>
    </div>
</div>
