<div class="card">
    <div class="content">
        <div class="detail">Name</div>
        <div class="detail">{{data.name}}</div>
    </div>
    <div class="content">
        <div  class="detail">Age</div>
        <div  class="detail">{{data.age}}</div>
    </div>
    <div class="content">
        <div  class="detail">Mobile</div>
        <div  class="detail">{{data.mobile}}</div>
    </div>
    <div class="content">
        <div class="detail">Department</div>
        <div  class="detail">{{data.department}}</div>
    </div>
    <div class="content">
        <div class="detail">Role</div>
        <div  class="detail">{{data.role}}</div>
    </div>
    <div class="content">
        <div class="detail" *ngIf="isAdmin">
            <button (click)="handleDelte(data.id)">Delete</button>
        </div>
    </div>
</div>
