body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUp{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: rgb(241, 241, 241);
    padding: 50px;
    justify-content: start;
    border-radius: 8px;
}
.formField{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px
}
label{
    padding-bottom: 22px;
    flex: 1;
}

.select{
    margin-top: 10px;
    margin-bottom: 10px;
}


