body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
  
}
.signUp{
    display: flex;
    flex-direction: column;
    gap:50px;
    background-color: white;
    padding: 8%;
    border-radius: 8px;
    // justify-content: center;
}
.formField{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px
}
label{
    padding-bottom: 22px;
    flex:1
}

@media only screen and (max-width: 600px) {
    .formField{
        flex-direction: column;
        gap:0px;
        // justify-content: start;
        align-items: start;
    }
    
  }

