body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.signUp{
    display: flex;
    flex-direction: column;
    gap:50px;
    background-color: white;
    padding: 100px;
    border-radius: 8px;
}
.formField{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px
}
label{
    padding-bottom: 22px;
    flex:1
}


