body{
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;  
}
.logoutButton:hover{
    background: linear-gradient(135deg, #ff3d3d, #ff6a6a);

}
.logoutButton{
    background: linear-gradient(135deg, #ff6a6a, #ff3d3d); 
}
.title{
    margin-left: 70px;
}
.logout{
    margin-right: 70px;
   
}
.main{
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    
}
.searchBar{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchinput{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}