
<body>
    <div class="header">
        <div class="title"><h1>Hello {{user.name}}</h1></div>
        <div class="logout">
            <button class="logoutButton" mat-flat-button (click)="handleLogout()">Logout</button>
        </div>
    </div>
    <div class="searchBar">
        
        <input class="searchinput" placeholder="search" type="text" id="search" (keyup)="onSearch()" [(ngModel)]="searchQuery" />
    </div>

    <div class="main">
    <div *ngFor="let note of data">
        <app-details-card [data]="note" [isAdmin]="admin" (sendToParent)="onDelete($event)" ></app-details-card>
    </div>
</div>
    
    
</body>